body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(#636ccd, #bca0d7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid rgb(141, 139, 139);
}